# Maven
target/
log/

# Java
*.class
*.war
*.ear

# Intellij Idea
.idea/
*.iml

# Eclipse
.project
.metadata
.bin/
.tmp/
.settings

#Vim
*.swp

# Latex - latexmk
*.aux
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
