<!--
    Special log configuration for the integration tests
    Ideally, all tests pass and there is no output generated when running them.

    If some tests fail, the log levels can be changed to debug.
-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug for current project code -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Additional framework loggers set on ERROR -->
    <logger name="org.apache.zookeeper" level="error" />

    <logger name="io.netty" level="error"/>

    <logger name="org.apache.curator" level="error"/>
</configuration>